# Ignore node_modules (dependencies will be installed inside the container)
node_modules/

# Ignore build directory (the production build will be generated inside the Docker container)
build/

# Ignore environment variables or configuration files (if they are not needed inside the container)
.env
.env.* 

# Ignore IDE and editor files
.idea/
/.vscode/
/*.iml
*.log

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore version control directories
.git/
/.gitignore

# Ignore temporary files
*.bak
*.swp
*.tmp
